:root{
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secundary: #03B898;
    --color-grey-1: #F8F9FA;
    --color-grey-2: #E9ECEF;
    --color-grey-3: #868E96;
    --color-grey-4: #212529;


    --font-title-1: 28px;
    --font-title-2: 24px;
    --font-title-3: 20px;
    --font-title-4: 12px;
    --font-headline: 16px;
    --font-body: 12px;

    --font-weight-bold: bold;
    --font-weight-regular: normal;


    --default-margin: 8px;
    
    --button-font-1: 16px;
    --button-font-2: 14px;
}